<div class="row" style="margin-top: 28px;margin-left: 302px;">
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-4 ">
                 <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width:486px;;margin-left: 100px;margin-top: 12px;">
                     <h3 class="h4 text-info text-center">Leave Report!!</h3>
                      <hr/>
                   
                     <div class="row">
                          <div class="col-md-8">
                               

                                <div>
                                    <div>
                                        <label><b>Title: </b></label>{{leaveData.title}}
                                    </div>
                                    <div>
                                        <label><b>Subject: </b></label>{{leaveData.subject}}
                                    </div>
                                    <div>
                                        <label><b>From: </b></label>{{leaveData.from}}
                                    </div>
                                    <div>
                                        <label><b>To: </b></label>{{leaveData.to}}
                                    </div>
                                    <div>
                                        <label><b>Leave Taken: </b></label>{{leaveData.numberOfDays}}
                                    </div>
                                    <div>
                                        <label><b>Leave Type: </b></label>{{leaveData.leaveType}}
                                    </div>
                                    <div>
                                        <label><b>Status: </b></label>{{leaveData.status}}
                                    </div>
                                    <div>
                                        <label><b>Substitute: </b></label>{{leaveData.backupEmpId}}
                                    </div>
                                    <div>
                                        <label><b>Higher Authority Remark: </b></label>{{leaveData.repAuthRemark}}
                                    </div>
                                    <div>
                                        <label><b>Substitute Employee Remark: </b></label>{{leaveData.backupEmpRemark}}
                                    </div>
                                </div>
                         
                                

                          </div>
                           
                       
                     </div>
               </div>
        
            </div>
        </div>
    </div>
</div>  