
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="reset"></span>
  
        
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0 text-center">Reset Password</h3>
           
          </div>
          <div class="card-body">
            <form [formGroup]="adminResetPassword" (ngSubmit)="resetPassword()">
             
              <div class="form-group">
                <!-- <label for="">Id:</label> -->
                <input type="text" hidden class="form-control" formControlName="id" />
              </div>

              <div class="form-group">
                <label for="">Email:</label>
                <input type="text" disabled class="form-control" placeholder="Enter Your Email *" formControlName="email" />
              </div>

              <div class="form-group">
                <label for="">Reset New Password:</label>
                <input type="password"  class="form-control" placeholder="Enter New Password*" formControlName="password"/>
                <span class="text-danger"
                *ngIf="adminResetPassword.get('password').touched && adminResetPassword.get('password').hasError('required')">
                New Password Required*
            </span>
              </div>


              <input type="submit" style="width: 160px" [disabled]="!adminResetPassword.valid" class="btn btn-success"  value="Reset Password"/>
            </form>
            
          </div>
         
        </div>
       
  
      </div>