
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0 text-center">Employee Forgot Password</h3>
            <span class="card bg-warning text-white text-center" *ngIf="sta">{{status}}</span>
          </div>
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onforgotPassword()">
             
              <div class="form-group">
                <label for="">Email:</label>
                <input type="email" class="form-control" placeholder="Enter Your Email *" formControlName="to" />
                <span class="text-danger"
                    *ngIf="forgotPasswordForm.get('to').touched && forgotPasswordForm.get('to').hasError('required')">
                    Email Required*
                </span>
                <span class="text-danger"
                    *ngIf="forgotPasswordForm.get('to').touched && forgotPasswordForm.get('to').hasError('to')">
                   Valid Email Required*
                </span>
              </div>
              <input type="submit" style="width: 160px" class="btn btn-success" [disabled]="!forgotPasswordForm.valid" value="Send"/>
           <div>
            <button mat-raised-button (click)="onLogin()" style="margin-left: 437px;position: absolute;
            margin-top: -35px;" color="accent">Login Here</button>
           </div>
            </form>
              
            <!-- <div>
               <a href="forgotPassword" style="margin-left: 437px;">Forgot Password</a>
            </div> -->
            <mat-progress-spinner  style="margin:0 auto;" mode="indeterminate" *ngIf="fetching">
            </mat-progress-spinner>
          </div>
          </div>
         
        </div>


      </div>
    
        <!-- <mat-progress-spinner  style="margin:0 auto;" mode="indeterminate" *ngIf="fetching">
        </mat-progress-spinner> -->
        <!-- <div *ngIf="fetching" class="text-center">
          <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div> -->
  
